body {
  --pink-one: #f4d2c6;
  --pink-two: #fdd3d8;
  --light-blue: #cbe4f4;
  --light-blue-two: #dbe9f1;
  --med-blue-one: #bbd1df;
  --med-blue-two: #93acc9;
  --dark-blue: #6e8aaa;
  --red-brown: #433a63;
  background: linear-gradient(var(--med-blue-two), var(--med-blue-two), var(--med-blue-two), var(--med-blue-two), var(--med-blue-two), var(--med-blue-two) );
}

code {
  font-family: 'Source Code Pro', monospace;
  background: var(--light-blue-two);
  padding: 2px;
}

strong {
  color: var(--red-brown);
  background: var(--light-blue-two)
}

a:hover {
  color: var(--med-blue-two);
}
